*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
    padding: 0 156px;
}

.form {
    margin: 36px auto;
}

.form input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;    
    padding: 8px 16px;
    outline: transparent;
}

.form input:hover {
    border-color: #000;
}

.form input:active,
.form input:focus,
.form input:not(:placeholder-shown) {
    border-color: #4e75ff;
}

.form button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    border: none;
}

.form button:hover,
.form button:focus {
    background-color: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: 360px;
    border: 1px solid #808080;
}

.gallery-image {
    width: 360px;
    height: 152px;
    object-fit: cover;
}

.card-container {
    width: 360px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px 8px 20px;
}

.card-item {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.card-item b {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.hidden {
    display: none;
}

.loader {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}